[Unit]
Description=Samba domain controller daemon
After=syslog.target network.target
ConditionPathExists=/var/lib/samba/private/krb5.conf
ConditionPathExists=/etc/samba/smb.conf

[Service]
LimitNOFILE=16384
EnvironmentFile=-/etc/sysconfig/samba
ExecStart=/usr/sbin/samba $SAMBAOPTIONS -i --debug-stdout
ExecReload=/usr/bin/kill -HUP $MAINPID
SuccessExitStatus=127

[Install]
WantedBy=multi-user.target